{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="container">
    <i class="fas fa-atom atom-icon"></i>
    <h1>Вход</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        <input type="text" id="username" name="username" placeholder="Имя пользователя" required>

        <input type="password" id="password" name="password" placeholder="Пароль" required>

        <button type="submit">Войти</button>
        Не зарегистрированы? <a href="{% url 'register' %}">Регистрация</a>
    </form>
</div>

<style>
    :root {
        --container-bg: #fff;
        --shadow-color: rgba(0, 0, 0, 0.1);
        --input-border: #ccc;
        --button-bg: #4197DE;
        --button-hover: #367bc0;
        --link-color: #003153; /* Голубой цвет для ссылок в светлой теме */
        --link-hover: #2980b9; /* Темнее голубой для hover в светлой теме */
        --icon-color: #003153; /* Голубой цвет для иконки в светлой теме */
    }

    [data-theme="dark"] {
        --container-bg: #2c3e50;
        --shadow-color: rgba(0, 0, 0, 0.5);
        --input-border: #4a6278;
        --button-bg: #3498db;
        --button-hover: #2980b9;
        --link-color: #bdc3c7;
        --link-hover: #3498db;
        --icon-color: #bdc3c7;
    }

    .container {
        max-width: 400px;
        margin: 70px auto 50px auto; /* Отступ сверху для фиксированной шапки */
        padding: 20px;
        box-shadow: 0 0 10px var(--shadow-color);
        border-radius: 5px;
        background-color: var(--container-bg);
        text-align: center;
        color: var(--text-color); /* Наследуем цвет текста из base.html */
        transition: all 0.3s ease;
    }

    h1 {
        margin-bottom: 20px;
        color: var(--text-color);
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid var(--input-border);
        border-radius: 5px;
        box-sizing: border-box;
        background-color: var(--container-bg); /* Фон поля ввода совпадает с контейнером */
        color: var(--text-color);
        transition: all 0.3s ease;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: var(--button-bg);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: var(--button-hover);
    }

    .container a {
        text-decoration: none;
        color: var(--link-color);
        transition: color 0.3s ease;
    }

    .container a:hover {
        color: var(--link-hover);
    }

    .atom-icon {
        font-size: 60px;
        color: var(--icon-color);
        margin-bottom: 20px;
        transition: color 0.3s ease;
    }
</style>
{% endblock %}