{% extends 'index.html' %}

{% block content %}
<div class="welcome-block">
    <h2>Профиль пользователя: {{ username }}</h2>
    <p>Ваш текущий email: {{ user.email|default:"Не указан" }}</p>
    <p>Обновите ваш email ниже:</p>
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="{{ message.tags }}">{{ message }}</div>
        </div>
      {% endfor %}
    {% endif %}
    <form action="{% url 'update_email' %}" method="post" class="email-form">
        {% csrf_token %}
        {{ email_form.email }}
        {% if email_form.email.errors %}
          <div class="form-error">{{ email_form.email.errors.as_text }}</div>
        {% endif %}
        <button type="submit">
          <i class="fa-solid fa-envelope icon"></i> Сохранить
        </button>
    </form>
    <div class="email-error" id="emailError">Пожалуйста, введите корректный email</div>
</div>
{% endblock %}